<section class="section price__section" id="price">
  <div class="container">
    <h2 class="section__title">Price</h2>

    <ul class="price__services">
      <li class="price">
        <div class="price__wrapper">
          <h3 class="price__title">Easy start</h3>
          <ul class="price__list">
            <li class="price__item">features of yeast dough preparation</li>
            <li class="price__item">preparation of liquid caramel for stuffing</li>
            <li class="price__item">preparation of raspberry and strawberry filling</li>
            <li class="price__item">fry and glaze donuts</li>
          </ul>
          <a class="button price__button" href="#registration">Register</a>
        </div>
      </li>
      <li class="price">
        <div class="price__wrapper">
          <h3 class="price__title price__title--circle">I want delicious donuts</h3>
          <ul class="price__list">
            <li class="price__item">features of yeast dough preparation</li>
            <li class="price__item">preparation of liquid caramel for stuffing</li>
            <li class="price__item">preparation of raspberry and strawberry filling</li>
            <li class="price__item">melt chocolate for decoration</li>
            <li class="price__item">fry and glaze donuts</li>
            <li class="price__item">donut decoration. painting and various techniques</li>
          </ul>
          <a class="button price__button" href="#registration">Register</a>
        </div>
      </li>
      <li class="price">
        <div class="price__wrapper">
          <h3 class="price__title">Premium</h3>
          <ul class="price__list">
            <li class="price__item">features of yeast dough preparation</li>
            <li class="price__item">preparation of liquid caramel for stuffing</li>
            <li class="price__item">preparation of raspberry and strawberry filling</li>
            <li class="price__item">melt chocolate for decoration</li>
            <li class="price__item">fry and glaze donuts</li>
            <li class="price__item">donut decoration. painting and various techniques</li>
            <li class="price__item">After party and donut tasting with speakers</li>
            <li class="price__item">2 private lessons with one of the speakers</li>
          </ul>
          <a class="button price__button" href="#registration">Register</a>
        </div>
      </li>
    </ul>
  </div>
</section>
