<section class="program" id="program">
  <div class="container program__container">
    <div class="program__info">
      <h2 class="program-title transparent program__title">Program</h2>

      <p class="program__txt">
        Indulge in this immersive sweet treat experience with The Chef Donut Queen in her New York
        donut shop!
      </p>

      <ul class="program__list">
        <li class="program__item">
          <span>A stand up history of donuts</span>
        </li>
        <li class="program__item">
          <span>Make 3 donut flavors of your choice</span>
        </li>
        <li class="program__item">
          <span>Enjoy all-you-can-eat donuts</span>
        </li>
        <li class="program__item">
          <span>Cocktail pairings and coffee included</span>
        </li>
        <li class="program__item">
          <span>Photoshoot by professional photographer</span>
        </li>
        <li class="program__item">
          <span>Secret receipt of cooking from Eva</span>
        </li>
        <li class="program__item">
          <span>All products are included in the price</span>
        </li>
      </ul>
      <div class="js-hidden-text">
        <p class="program__txt program__txt--read-more js-hidden-text-paragraph">
          Come with your dear people and friends and you will spend an unforgettable time and will
          become a real professional in donuts cooking!
        </p>

        <button class="js-hidden-text-button read-more-btn">Read more</button>
      </div>
    </div>

    <div class="program__canvas">
      <div class="program__cnvs-colmn program__cnvs-colmn-left">
        <div class="program-first transparent program__thumb program__thumb-top">
          <picture>
            <source
              srcset="./images/program/prog1-288.png 1x, ./images/program/prog1-576.png 2x"
              media="(min-width: 1280px)"
              width="288"
            />
            <source
              srcset="./images/program/prog1-152.png 1x, ./images/program/prog1-304.png 2x"
              media="(min-width: 768px)"
              width="152"
            />
            <source
              srcset="./images/program/prog1-130.png 1x, ./images/program/prog1-260.png 2x"
              width="130"
            />
            <img
              class="program__thumb-img"
              src="./images/program/prog1-260.png"
              alt="Donut Masters are the best!!!"
              width="260"
            />
          </picture>

          <div class="program__thumb-text">
            <p class="program__thumb-title">Type of the event</p>
            <p class="program__thumb-descr">Cooking classes</p>
          </div>
        </div>

        <div class="program-second transparent program__thumb program__thumb-bottom">
          <picture>
            <source
              srcset="./images/program/prog2-288.png 1x, ./images/program/prog2-576.png 2x"
              media="(min-width: 1280px)"
              width="288"
            />
            <source
              srcset="./images/program/prog2-152.png 1x, ./images/program/prog2-304.png 2x"
              media="(min-width: 768px)"
              width="152"
            />
            <source
              srcset="./images/program/prog2-130.png 1x, ./images/program/prog2-260.png 2x"
              width="130"
            />
            <img
              class="program__thumb-img"
              src="./images/program/prog2-260.png"
              alt="Donut Masters are the best!!!"
              width="260"
            />
          </picture>

          <div class="program__thumb-text">
            <p class="program__thumb-title">Time of the event</p>
            <p class="program__thumb-descr">18:30 (2.5 hours)</p>
          </div>
        </div>
      </div>

      <div class="program__cnvs-colmn program__cnvs-colmn-right">
        <div class="program-third transparent program__thumb program__thumb-top">
          <picture>
            <source
              srcset="./images/program/prog3-288.png 1x, ./images/program/prog3-576.png 2x"
              media="(min-width: 1280px)"
              width="288"
            />
            <source
              srcset="./images/program/prog3-152.png 1x, ./images/program/prog3-304.png 2x"
              media="(min-width: 768px)"
              width="152"
            />
            <source
              srcset="./images/program/prog3-130.png 1x, ./images/program/prog3-260.png 2x"
              width="130"
            />
            <img
              class="program__thumb-img"
              src="./images/program/prog3-260.png"
              alt="Donut Masters are the best!!!"
              width="260"
            />
          </picture>

          <div class="program__thumb-text">
            <p class="program__thumb-title">Number of guests</p>
            <p class="program__thumb-descr">1 to 20</p>
          </div>
        </div>

        <div class="program-fourth transparent program__thumb program__thumb-bottom">
          <picture>
            <source
              srcset="./images/program/prog4-288.png 1x, ./images/program/prog4-576.png 2x"
              media="(min-width: 1280px)"
              width="288"
            />
            <source
              srcset="./images/program/prog4-152.png 1x, ./images/program/prog4-304.png 2x"
              media="(min-width: 768px)"
              width="152"
            />
            <source
              srcset="./images/program/prog4-130.png 1x, ./images/program/prog4-260.png 2x"
              width="130"
            />
            <img
              class="program__thumb-img"
              src="./images/program/prog4-260.png"
              alt="Donut Masters are the best!!!"
              width="260"
            />
          </picture>

          <div class="program__thumb-text">
            <p class="program__thumb-title">The host speaks</p>
            <p class="program__thumb-descr">English, French</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
